<h1 id="tableLabel">Users</h1>
<p-toast></p-toast>


<p *ngIf="!userManagement"><em>Loading...</em></p>
<div *ngIf="userManagement">
  <div>
    <p-table [value]="getUsers()">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th *ngFor="let role of getRoles()">{{ role }}</th>
          <th>Save</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.name }}</td>
          <td *ngFor="let role of getRoles()">
            <p-checkbox name="is-in-role" value="{{ role }}" [(ngModel)]="user.roles" [disabled]="userHasNoPermission(role)"></p-checkbox>
          </td>
          <td><p-button [disabled]="isChanged(user)" (onClick)="updateUser(user)">Save</p-button></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
