<p-toast [breakpoints]="{'420px': {width: '100%', right: '0', left: '0'}}"></p-toast>

<div class="form-group">
    <label class="form-label" for="huName">{{ 'UNITS.HU_UNIT_NAME' | translate }}</label><br>
    <input id="huName" type="text" pInputText [(ngModel)]="newUnitHuName"/>
</div>

<div class="form-group">
    <label class="form-label" for="enName">{{ 'UNITS.EN_UNIT_NAME' | translate }}</label><br>
    <input id="enName" type="text" pInputText [(ngModel)]="newUnitEnName"/>
</div>

<p-button type="submit" [label]="'UNITS.SAVE' | translate" icon="pi pi-check" iconPos="left" (onClick)="createUnit()"></p-button>