<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MandoWebApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">{{ 'NAVMENU.HOME' | translate }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/products']">{{ 'NAVMENU.NEW_DONATION' | translate }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/supplies']">{{ 'NAVMENU.SUPPLIES' | translate }}</a>
          </li>
          <li class="nav-item dropdown" *ngIf="isPriviliged()">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{ 'NAVMENU.ADMIN' | translate }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/usermanagement']">{{ 'NAVMENU.ADMIN_MENU.USER_MANAGEMENT' |
                  translate }}</a></li>
              <li><a class="dropdown-item" [routerLink]="['/invites']">{{ 'NAVMENU.ADMIN_MENU.INVITES' | translate
                  }}</a></li>
            </ul>
          </li>
        </ul>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header>