<h1 id="tableLabel">Invites</h1>

<p [hidden]="invites"><em>Loading...</em></p>
<div [hidden]="!invites">
  <form class="mt-4 d-flex justify-content-between" (ngSubmit)="createInvite()" #newInviteForm="ngForm">
    <input class="w-50" id="input-email" pInputText type="email" [(ngModel)]="inviteEmail" name="email"
      placeholder="Email" />
    <div><button type="submit" pButton>New Invite</button></div>
  </form>
  <hr />
  <h2>Pending Invites</h2>
  <div>
    <p-table [value]="invites">
      <ng-template pTemplate="header">
        <tr>
          <th>Email</th>
          <th>Status</th>
          <th>Created at</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-invite>
        <tr>
          <td>{{ invite.email }}</td>
          <td>{{ invite.status }}</td>
          <td>{{ invite.createdAt }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>