<h1 id="tableLabel">{{ 'INVITES.HEADER' | translate }}</h1>
<p-toast [breakpoints]="{'420px': {width: '100%', right: '0', left: '0'}}"></p-toast>


<p [hidden]="invites"><em>{{ 'INVITES.LOADING' | translate }}</em></p>
<div [hidden]="!invites">
  <form class="mt-4 d-flex justify-content-between" (ngSubmit)="createInvite()" #newInviteForm="ngForm">
    <div class="d-flex justify-content-start w-75">
      <input class="w-50 mx-1" id="input-email" pInputText type="email" [(ngModel)]="inviteEmail" name="email"
        placeholder="Email" />
      <label class="ml-3 my-auto">{{ 'INVITES.LANG' | translate }}:</label>
      <p-selectButton class="mx-1" [options]="emailLangs" [(ngModel)]="selectedLang"
        [ngModelOptions]="{standalone: true}">
      </p-selectButton>
    </div>
    <div><button type="submit" pButton>{{ 'INVITES.NEW_INVITE' | translate }}</button></div>
  </form>
  <hr />
  <h2>{{ 'INVITES.PENDING_INVITES' | translate }}</h2>
  <div>
    <p-table [value]="invites" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Email</th>
          <th>{{ 'INVITES.TABLE.STATUS_HEADER' | translate }}</th>
          <th>{{ 'INVITES.TABLE.CREATED_AT' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-invite>
        <tr>
          <td>{{ invite.email }}</td>
          <td>{{ invite.status }}</td>
          <td>{{ invite.createdAt | date:'medium' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>