name: CI/CD

on:
  push:
    branches:
      - 'chore/docker-build'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: "{{defaultContext}}:MandoWebApp"
          file: ./Dockerfile
          push: true
          tags: hunbadco/mando:latest

  deploy:
    needs: [build]
    runs-on: mando-prod
    environment: 
      name: mando-prod
      url: https://mando.hrvthmrk.com
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Bring up stack
        run: |
            cd ./MandoWebApp
            docker-compose pull
            docker-compose up -d
            sleep 30
            docker-compose logs
